name: MinTic Deploy to AWS CloudFormation

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: MinTic Checkout and download repository
      uses: actions/checkout@v3

    - name: MinTic Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Deploy EC2 Stack with S3 Access
      run: |
        aws cloudformation deploy \
          --template-file templates/ec2.yml \
          --stack-name MinTicEC2Stack \
          --parameter-overrides S3BucketName=mintic-bucket-004807598266-us-east-1 \
          --capabilities CAPABILITY_IAM \
          --no-fail-on-empty-changeset
        echo "EC2 Stack deployed with S3 access!"
        
        # Mostrar la URL del servidor web
        echo "URL del servidor web:"
        aws cloudformation describe-stacks \
          --stack-name MinTicEC2Stack \
          --query 'Stacks[0].Outputs[?OutputKey==`WebsiteURL`].OutputValue' \
          --output text